* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: 400;
  background-color: whitesmoke;
}

nav, section {
  display: block;
}

.main-wrapper {
  position: relative;
}

.main-header {
  background-color: #ffffff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
