* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #969696;
    font-weight: 400;
    background-color: whitesmoke;
}

nav, section {
    display: block;
}

.main-wrapper {
    position: relative;
}

.main-header {
    background-color: #ffffff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
}

@media (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media (min-width: 480px) {
    .container {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navbar-fixed-top {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
}

.nav-wrapper {
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 95px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.nav-wrapper.open {
    height: 16em;
}

.nav-wrapper .pure-u-1 {
    height: 95px;
    display: flex;
    align-items: center;
}

.nav-menu-3 {
    text-align: right;
}

.nav-toggle {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
}

.nav-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.nav-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .nav-menu-3 {
        text-align: left;
    }
    .nav-toggle {
        display: block;
    }
}
